/* Make the image fully responsive */
.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-item img{
  height: 20rem;
}

.root-nav{
  position: absolute;
  top: 1rem;
}

.root-nav button,mat-icon,a {
  outline: 0;
  text-transform: none;
}

.root-contents{
  margin-top: 15.5rem;
}

.style-slim-bar{
  height: 0.5rem;
  width:7rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

@media screen and (max-width: 768px) {
  .no-small-display {
    display: none;
  }
  .full-width{
    flex: 0 0 100%;
    max-width: 100%;
  }

}

mat-card > img{
  height: 20rem;
}

mat-menu-item, .mat-focus-indicator{
  outline:0;
}


/* side nav styls */
body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1050;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* side nav styls ends */
