
<!-- <owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
      <div class="slide">
          <img src="https://freakyjolly.com/demo/jquery/PreloadJS/images/5.jpg">
      </div>
  </ng-template>
  <ng-template carouselSlide>
      <div class="slide">
          <img src="https://freakyjolly.com/demo/jquery/PreloadJS/images/5.jpg">
      </div>
  </ng-template>
  <ng-template carouselSlide>
      <div class="slide">
          <img src="https://freakyjolly.com/demo/jquery/PreloadJS/images/5.jpg">
      </div>
  </ng-template>
  <ng-template carouselSlide>
      <div class="slide">
          <img src="https://freakyjolly.com/demo/jquery/PreloadJS/images/5.jpg">
      </div>
  </ng-template>
  <ng-template carouselSlide>
      <div class="slide">
          <img src="https://freakyjolly.com/demo/jquery/PreloadJS/images/5.jpg">
      </div>
  </ng-template>
</owl-carousel-o> -->

<owl-carousel-o [options]="customOptions">
  <div></div>
  <ng-template carouselSlide [width]="200" *ngFor="let slide of slidesStore" [id]="slide.id" >
    <div class="carousal-height">
      <mat-card class="product-card p-0">
        <div class="h-70">
          <mat-icon mat-raised-button matTooltipClass="tooltip-green"
          matTooltip="Wishlist this" class="wish-list-icon">turned_in</mat-icon>
          <img class="h-100" [src]="slide.src" [alt]="slide.alt" [title]="slide.title">
        </div>
        <div class="h-30 d-flex justify-content-between flex-wrap py-1">
          <div class="pl-1 d-flex flex-column justify-content-between flex-wrap col-6">
            <p class="des-title mb-1">
              {{slide.description}}
            </p>
            <p class="des-body mb-1">
              <mat-icon class="add-cart-icon">add_circle</mat-icon>
            </p>
          </div>
          <div class="pr-1 col-6 ">
            {{slide.sem}}

          </div>
        </div>
      </mat-card>
    </div>


  </ng-template>

</owl-carousel-o>
