.carousal-height{
  height: 16rem;
}

.product-card{
  height: 15rem;
  box-shadow:0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 3.5px 10px rgba(0, 0, 0, 0.06),
  0 6.8px 14.4px #116d68d9
  !important;

}

.h-70{
  height: 70%;
}

.h-30{
  height: 30%;
}

.des-title{
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  color: #007b74;
  font-size: 1rem;
}

.des-body{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.org-price{
  text-decoration: line-through red;

}

.our-price{
  font-size: 1.3rem;
  color: #007b74;
}

.add-cart-icon{
  color: #007b74;
}

.wish-list-icon{
  display: inline-block;
  position: fixed;
  color: #b10303;
  left: 0.5rem;
  top: 0.5rem;
  text-shadow: 0 0 8px #ffffff;
  font-size: 1.7rem;
  /* box-shadow: 0 4px 8px 0 rgb(255 255 255 / 20%), 0 6px 20px 0 rgb(218 210 210 / 19%); */
}

.wish-list-icon:hover{
  font-size: 2rem;
  color: #ff0000;
}

.tooltip-green{
  background: #116d68d9;
  font-weight: 800;
  font-size: 12px;
}
