.example-panel.mat-select-panel{
  background-color: #005e5ad4;
}

.mat-option-text{
  color: #00ccc1;
  font-weight: 900;
}

.mat-option-text:hover{
  color: #ffc107;
  font-size: 1rem;
}

.option-header{
  background-image: linear-gradient(to right, #041f1e, #0e5856, #094e53a6,#094e5300);
  height: 2.5rem;
}

/* Make the image fully responsive */
.text-header{
  font-size: 1.5rem;
  color: #0ac2b8;
  transition: all .2s ease-out, color .2s ease-out;
}

.search-hover:hover{
  font-size: 2rem;
  color: #ffc107;
}

[aria-expanded=true] .search-hover{
  color: #ffc107;
}

.search-bar-open{
  position: absolute;
  margin-top: 4rem;
  width: 200%;
}

.search-bar-open input{
  border: 0;
    width: 100%;
    padding-left: 5pt;
    background: #005e5a;
    background-image: linear-gradient(to right,#094e53a6, #041f1e, #094e53a6);
    font-size: 18px;
    color: white;
    border-radius: 3px;
    height: 40px;
    outline: 0px;
}

.search-bar-open input::placeholder{
  color: #0ac2b8;
}

.icon-wrap{
  position: absolute;
    top: 0;
    right: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 60px;
    height: 100%;
    cursor: pointer;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-item img{
  height: 20rem;
}

.root-nav{
  position: absolute;
  top: 1rem;
}

.root-nav button,mat-icon,a {
  outline: 0;
  text-transform: none;
}

.root-contents{
  margin-top: 15.5rem;
}

.root-contents > mat-card{
  background-image: linear-gradient(white, #094e5300, #005e5a, #0a2d2b);
}

.slider-title{
  font-size: larger;
  color: #0ac2b8;
}

.why-us{
  color: deepskyblue;
}

.font-weight-bold.bold-header{
  color: deepskyblue;
  font-size: 2.7rem;
}

.let-go-button{
  font-size: 4rem;
  color: deepskyblue;
}

.page-footer{
  background-image: linear-gradient( #005e5acf, #0a2d2b);
}

.footer-para{
  color: deepskyblue;
}

.style-slim-bar{
  height: 0.5rem;
  width:7rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

.fotter-social-icon img{
  height: 2rem;
}

.font-2{
  font-size: 1rem;
}

.ic img{
  height: 2rem;
  transition: all .2s ease-out, color .2s ease-out;
  /* position: absolute; */
}

.ic img:hover{
  height: 2.4rem;
  transition: all .2s ease-out, color .2s ease-out;
}

.side-borders{
  border-left: 1pt solid #039890;
  border-right: 1pt solid #039890;
}

.jarallax.jarallax-background{
  background-attachment: fixed; background-size: cover; min-height: 700px;
}

@media screen and (max-width: 768px) {
  .no-small-display {
    display: none !important;
  }
  .full-width{
    flex: 0 0 100%;
    max-width: 100%;
  }

}


@media screen and (max-width: 576px) {
  .root-contents{
    margin-top: 12rem;
  }
}

mat-card > img{
  height: 20rem;
}

mat-menu-item, .mat-focus-indicator{
  outline:0;
}


/* side nav styls */
body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1050;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* side nav styls ends */


