<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a href="#">Category</a>
  <a href="#">Me</a>
  <a href="#">My Orders</a>
  <a href="#">Wishlist</a>
  <a href="#">Help</a>
</div>

<div class="container-fluid px-0">

  <div class="">
    <div id="demo" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./assets/images/la.jpg" alt="Los Angeles" width="1100" height="500">
        </div>
        <div class="carousel-item">
          <img src="./assets/images/chicago.jpg" alt="Chicago" width="1100" height="500">
        </div>
        <div class="carousel-item">
          <img src="./assets/images/ny.jpg" alt="New York" width="1100" height="500">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev no-small-display" *ngIf="!mobView" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next no-small-display" *ngIf="!mobView" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>

  <div class="root-nav mx-auto row col-12 mat-elevation-z6">
    <div class="col-sm-9 mx-auto d-flex justify-content-between sticky-top" [class.flex-column]="mobView" style="background-image: linear-gradient(to right,#094e53a6, #041f1e, #094e53a6);">
      <div class="col py-1">
        <a class="text-white d-flex flex-wrap" href="">
          <img src="./assets/images/helloJT.png" alt="Logo" style="width:40px;"/>
          <div class="text-header row ml-2">
            <p class="my-auto">
              ମୋBooks
            </p></div>
        </a>
      </div>

      <div class="text-center text-white col d-flex justify-content-center" *ngIf="!mobView">
        <button mat-button data-toggle="collapse" data-target="#search_bar">
          <mat-icon class="text-header search-hover">search</mat-icon>
        </button>
        <div id="search_bar" class="collapse search-bar-open">
          <input id="search" type="text" autocomplete="off" placeholder="Type Keywords">
          <div class="icon-wrap">
            <mat-icon class="text-header mx-auto">search</mat-icon>
          </div>
        </div>
      </div>

      <div class="col py-1">
        <div class="d-flex justify-content-center" *ngIf="!mobView">
          <div class="text-center text-white">
            <button mat-button>
              <mat-icon matBadge="15" matBadgeColor="warn" mat-raised-button matTooltipClass="tooltip-green"
                        matTooltip="My wishlist" class="text-header">
                        turned_in
              </mat-icon>
            </button>
          </div>
          <div class="text-center">
            <button mat-button>
              <mat-icon matBadge="15" matBadgeColor="warn" routerLink="/root" class="text-header">shopping_cart</mat-icon>
            </button>
          </div>
          <div class="text-center text-white">
            <button mat-button>
              <mat-icon routerLink="/root" class="text-header">person</mat-icon>
            </button>
          </div>
        </div>
        <div *ngIf="mobView" class="my-1">
          <!-- <div class="text-center text-white">

          </div> -->
          <div class="d-flex justify-content-around ">
            <button mat-button class="px-0 text-header">
              <mat-icon>shopping_cart</mat-icon>
            </button>
            <!-- <button mat-button class="px-0">
              <mat-icon routerLink="/root">search</mat-icon>
            </button> -->
            <button mat-button class="px-0" data-toggle="collapse" data-target="#search_bar">
              <mat-icon class="text-header search-hover">search</mat-icon>
            </button>
            <div id="search_bar" class="collapse search-bar-open w-100">
              <input id="search" type="text" autocomplete="off" placeholder="Type Keywords">
              <div class="icon-wrap">
                <mat-icon class="text-header mx-auto">search</mat-icon>
              </div>
            </div>
          <button mat-button class="px-0" (click)="openNav()">
            <mat-icon class="text-header">menu_open</mat-icon>
          </button>
        </div>
        </div>

      </div>
    </div>
    <div class="col-sm-9 mx-auto d-flex text-white root-contents ">
      <mat-card class="col-12 px-0">
        <div class="d-flex justify-content-between mx-auto shadow py-2 rounded-lg">
          <div class="d-flex flex-wrap justify-content-center flex-coulmn col">
            <div class="d-flex flex-column">
              <img src="./assets/images/icons8-elective-64.png" alt="">
              <span class="text-center">Categories</span>
            </div>

          </div>
          <div class="d-flex flex-wrap justify-content-center flex-coulmn col side-borders">
            <div class="d-flex flex-column">
              <img src="./assets/images/icons8-books-64.png" alt="">
              <span class="text-center">All</span>
            </div>

          </div>
          <div class="d-flex flex-wrap justify-content-center flex-coulmn col">
            <div class="d-flex flex-column">
              <img src="./assets/images/icons8-voucher-64.png" alt="">
              <span class="text-center">Offers</span>
            </div>
          </div>
        </div>

        <div class="my-5 mx-2">
          <div class="d-flex justify-content-around">
            <div class="col-6 px-0 d-flex flex-wrap align-content-center">
              <div class="option-header row mx-0 col-12">
                <p class="slider-title my-auto font-weight-bold">Choose by Semester</p>
              </div>
            </div>
            <div class="col-6 px-0 d-flex justify-content-end">
              <mat-form-field appearance="fill" class="px-0" [class.col-12]="mobView"> <!-- appearance="fill" -->
                <mat-label>Semester</mat-label>
                <mat-select [(value)]="selectedSem" panelClass="example-panel">
                  <mat-option>select</mat-option>
                  <mat-option [value]="option.value" *ngFor="let option of sems">{{ option.viewValue }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <app-try1></app-try1>
        </div>

        <div class="my-4 mx-2">
          <div class="d-flex justify-content-around">
            <div class="col-6 px-0 d-flex flex-wrap align-content-center">
              <div class="option-header row mx-0 col-12">
                <p class="slider-title my-auto font-weight-bold">Choose by Branch</p>
              </div>
            </div>
            <div class="col-6 px-0 d-flex justify-content-end">
              <mat-form-field appearance="fill" class="px-0" [class.col-12]="mobView"> <!-- appearance="fill" -->
                <mat-label>Branch</mat-label>
                <mat-select [(value)]="selectedBranch" panelClass="example-panel">
                  <mat-option>select</mat-option>
                  <mat-option [value]="option.value" *ngFor="let option of branchs">{{ option.viewValue }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <app-try1></app-try1>
        </div>

        <div class="view intro jarallax"
          style="background-image: url(./assets/images/stock-photo-question-mark-icon.jpg); background-attachment: fixed; min-height: 700px">
        <div class="full-bg-img mask rgba-purple-slight">
          <div class="container">
            <div class="d-flex align-items-center d-flex justify-content-start" style="height: 700px">
              <div class="row mt-5">
                <div class="col-md-12 text-break mb-3">
                  <div class="">
                    <h1 class="font-weight-bold bold-header mb-4 " [@bounceInDownOnEnter]="{ value: '', params: { delay: 5000 } }">Last minute preparation <span style="font-size: 4rem; color: #ffc107 !important;">&#xbf;</span></h1>
                    <h4 class="my-3" style="color: #ffc107; font-size: 2rem;">No worries !!</h4>
                    <p class="mt-5" style="color: #ffc107;font-size: 2rem;line-height: 2.5rem;">
                      Let's Insta order, get delivered by
                      <span class="font-weight-bold bold-header" style="color: red;font-size: 3rem;">End of Day</span>
                    </p>
                      <div class="row">
                        <span class="mx-auto" style="width: 4rem;">
                          <mat-icon class="let-go-button">play_circle_outline</mat-icon>
                        </span>
                      </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="view intro jarallax jarallax-background"
          style="background-image: url(./assets/images/twenty-1173246_1920.jpg);">
        <div class="h-100 d-flex justify-content-around flex-column flex-wrap">
          <div class="col-sm-3 py-4 text-md-break text-white font-weight-bold" style="font-size: 4rem;line-height: 9rem;">
            <p>Make A Bulk Order</p>
          </div>
          <div class="pl-2 font-weight-bold bold-header" style="font-size: xxx-large;line-height: 3rem;">
            <p>And caskback is yours</p>
          </div>
        </div>
      </div>

      <div class="view intro jarallax" style="background-image: none; z-index: 0; min-height: 700px;">
        <div class="full-bg-img mask rgba-white-light">
          <div class="container flex-center">
            <div class="row mt-5 py-5">
              <div class="col-md-12 wow fadeIn mb-3" style="animation-name: none; visibility: visible;">
                <div class="text-center">
                  <h2 class="h1 display-2 mb-2">ANNA'S </h2>
                  <h5 class="font-up mb-3 mt-1 font-bold wow fadeInDown" data-wow-delay="0.4s">Interior designer &
                    Nature
                    lover</h5>
                  <a mdbBtn color="elegant" size="lg" class="wow fadeInDown waves-effect waves-light" mdbWavesEffect
                    data-wow-delay="0.4s">portfolio</a>
                  <a mdbBtn color="white" outline="true" size="lg" class="wow fadeInDown waves-effect waves-light"
                    mdbWavesEffect data-wow-delay="0.4s">About me</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-md-12 text-center my-5">
            <h2 class="h1 font-bold grey-text mb-5">Lorem ipsum dolor sit amet, consectetur quis elit.</h2>
            <p align="justify">Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro, cumque
              provident
              rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis
              cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
              cumque
              provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
              veritatis
              cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
              cumque
              provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
              veritatis
              cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
              cumque
              provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
              veritatis
              cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
              cumque
              provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
              veritatis
              cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
              cumque
              provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
              veritatis
              cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
              cumque
              provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
              veritatis
              cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
              cumque
              provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
              veritatis
              cupiditate reprehenderit.</p>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>





      <div class="container">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-md-12 my-5">
            <div class="">
              <div class="bg-warning style-slim-bar"></div>
              <div class="display-4 why-us">
                Why Us ?
              </div>
              <blockquote class="blockquote mt-3 why-us-content text-white">
                <p>There's still a magic smell left between the pages of a book. For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.</p>
                <footer class="blockquote-footer">Pappu Gang</footer>
              </blockquote>
            </div>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>


        <!-- Footer -->
        <footer class="page-footer font-small indigo">
          <div class="container">
            <div class="row text-center d-flex justify-content-center pt-5 mb-3">
              <div class="col-md-2 mb-3">
                <h6 class="font-weight-bold">
                  <a href="#!" class="text-uppercase">About us</a>
                </h6>
              </div>
              <div class="col-md-2 mb-3">
                <h6 class="font-weight-bold">
                  <a href="#!" class="text-uppercase">Products</a>
                </h6>
              </div>
              <div class="col-md-2 mb-3">
                <h6 class="font-weight-bold">
                  <a href="#!" class="text-uppercase">Awards</a>
                </h6>
              </div>
              <div class="col-md-2 mb-3">
                <h6 class="font-weight-bold">
                  <a href="#!" class="text-uppercase">Help</a>
                </h6>
              </div>
              <div class="col-md-2 mb-3">
                <h6 class="font-weight-bold">
                  <a href="#!" class="text-uppercase">Contact</a>
                </h6>
              </div>
            </div>
            <hr class="rgba-white-light" style="margin: 0 15%;">
            <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
              <div class="col-md-8 col-12 mt-5">
                <p style="line-height: 1.7rem" class="footer-para">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                  accusantium doloremque laudantium, totam rem
                  aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                  explicabo.
                  Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
              </div>
            </div>
            <hr class="" style="margin: 10% 15% 5%; border-top: 1px solid #116d9091 !important;">
            <div class="">
              <div class="col-md-12">

                <div class="mb-5  d-flex justify-content-around footer-social">
                  <div class="">
                    <a class="ic">
                      <img src="./assets/images/icons8-facebook_200_footer.png" alt="">
                    </a>
                  </div>
                  <div class="">
                    <a class="ic">
                      <img src="./assets/images/icons8-instagram_200_footer.png" alt="">
                    </a>
                  </div>
                  <div class="">
                    <a class="ic">
                      <img src="./assets/images/icons8-linkedin_200_footer.png" alt="">
                    </a>
                  </div>
                  <div class="">
                    <a class="ic">
                      <img src="./assets/images/icons8-github_200_footer.png" alt="">
                    </a>
                  </div>
                  <div class="">
                    <a class="ic">
                      <img src="./assets/images/icons8-google-plus-circled_100_footer.png" alt="">
                    </a>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="#"> ମୋBooks.com.com</a>
          </div>
        </footer>
<!-- Footer -->
      </mat-card>
    </div>
  </div>
</div>
