<!-- Footer -->
<footer class="page-footer font-small indigo">
  <div class="container">
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">
      <div class="col-md-2 mb-3">
        <h6 class="font-weight-bold">
          <a href="#!" class="text-uppercase">About us</a>
        </h6>
      </div>
      <div class="col-md-2 mb-3">
        <h6 class="font-weight-bold">
          <a href="#!" class="text-uppercase">Products</a>
        </h6>
      </div>
      <div class="col-md-2 mb-3">
        <h6 class="font-weight-bold">
          <a href="#!" class="text-uppercase">Awards</a>
        </h6>
      </div>
      <div class="col-md-2 mb-3">
        <h6 class="font-weight-bold">
          <a href="#!" class="text-uppercase">Help</a>
        </h6>
      </div>
      <div class="col-md-2 mb-3">
        <h6 class="font-weight-bold">
          <a href="#!" class="text-uppercase">Contact</a>
        </h6>
      </div>
    </div>
    <hr class="rgba-white-light" style="margin: 0 15%;">
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
      <div class="col-md-8 col-12 mt-5">
        <p style="line-height: 1.7rem" class="footer-para">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem
          aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
          explicabo.
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
      </div>
    </div>
    <hr class="" style="margin: 10% 15% 5%; border-top: 1px solid #116d9091 !important;">
    <div class="">
      <div class="col-md-12">

        <div class="mb-5  d-flex justify-content-around footer-social">
          <div class="">
            <a class="ic">
              <img src="./assets/images/icons8-facebook_200_footer.png" alt="">
            </a>
          </div>
          <div class="">
            <a class="ic">
              <img src="./assets/images/icons8-instagram_200_footer.png" alt="">
            </a>
          </div>
          <div class="">
            <a class="ic">
              <img src="./assets/images/icons8-linkedin_200_footer.png" alt="">
            </a>
          </div>
          <div class="">
            <a class="ic">
              <img src="./assets/images/icons8-github_200_footer.png" alt="">
            </a>
          </div>
          <div class="">
            <a class="ic">
              <img src="./assets/images/icons8-google-plus-circled_100_footer.png" alt="">
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> ମୋBooks.com.com</a>
  </div>
</footer>
<!-- Footer -->
